{{ define "userheader" }}

<body>
<section class="section">
	<div class="container">
		<header>
			<h1 class="title">
				<img src="/assets/logo.svg">
			</h1>
			<p class="subtitle">
				shows lyrics for <strong>currently playing song</strong> in your Spotify account.
			</p>
			<div class="buttons">
				<a href="/spotify" class="button is-primary">
					<strong>Refresh</strong>
				</a>
				<a href="/logout" class="button is-light">
					Log out
				</a>
			</div>
		</header>
		<hr>

{{ end }}