{{ define "userheader" }}

<body>
{{ template "loading" }}
<section class="section">
	<div class="container">
		<header>
			<h1 class="title">
				<img src="/logo.svg">
			</h1>
			<p class="subtitle">
				shows lyrics for <strong>currently playing song</strong> in your Spotify account.
			</p>
			<div class="columns user-buttons">
				<div class="column">
					<div class="buttons">
						<a href="/spotify" class="button is-primary is-spotify">
							Detect Current
						</a>
						<a href="/logout" class="button is-light">
							Log out
						</a>
					</div>
				</div>
				<div class="column">
					<form action="/search">
						<div class="user-search">
							<div class="control">
								<input class="input" name="q" type="text" placeholder="Search" autocomplete="off">
							</div>
						</div>
					</form>
				</div>
			</div>
		</header>
		<hr>

{{ end }}