{{ define "userheader" }}

<body>
{{ template "loading" }} 
<div class="star-me">
	<a href="https://github.com/boratanrikulu/lirik.app">
		<img src="https://githubbadges.com/star.svg?user=boratanrikulu&repo=lirik.app&background=1DB954&color=fff&style=flat">
	</a>
</div>
<section class="section">
	<div class="container">
		<header>
			<h1 class="title">
				<img id="logo" src="/assets/logo.svg">
			</h1>
			<p class="subtitle">
				shows lyrics for <strong>currently playing song</strong> in your Spotify account.
			</p>
			<div class="buttons">
				<a href="/spotify" class="button is-primary">
					<strong>Refresh</strong>
				</a>
				<a href="/logout" class="button is-light">
					Log out
				</a>
			</div>
		</header>
		<hr>

{{ end }}