{{ define "footer" }}

		<hr>
		<footer class="footer">
			<div class="content has-text-centered">
				<p>
					All lyrics are take from <a href="https://lyricstranslate.com/">lyricstranslate.com</a>.
				</p>
			</div>
		</footer>
	</div> <!-- container end -->
</div>
</body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163413234-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-163413234-1');
</script>

{{ end }}