{{ define "footer" }}

		<hr class="grey">
		<footer class="footer">
			<div class="content">
				<p>
					This is an open source project.<br>
					You can access the application's source code <a href="https://github.com/boratanrikulu/lirik.app">here</a>.<br>
				</p>
				<hr class="grey">
				<p>
					This site stores cookies to improve your user experience.<br>
					By logging into the site, you permit us to store data regarding your cookie. 
				</p>
				<hr class="grey">
				<p>
					Lyrics are taken either from  <a href="https://lyricstranslate.com/">lyricstranslate.com</a> or <a href="https://genius.com/">genius.com</a>.<br>
					Additional informations are mostly taken from <a href="https://discogs.com">discogs.com</a>.<br>
					Huge thanks to them.
				</p>
				<hr class="grey">
				<p>
					All lyrics are belongs to the song's creater.<br>
					We don't accept any ads.<br>
					If you need to contact us for any reason, click <a href="https://bora.sh/contact">here</a>.
				</p>
			</div>
		</footer>
	</div> <!-- container end -->
</div>
</body>

{{ end }}