{{ define "footer" }}

		<hr>
		<footer class="footer">
			<div class="content">
				<p>
					This is an open source project.<br>
					You can look at the application's source code at <a href="https://github.com/boratanrikulu/lirik.app">here</a>.<br>
				</p>
				<hr>
				<p>
					This site stores cookies to improve your user experience.<br>
					By logging into the site, you agree to the storage of cookies.
				</p>
				<hr>
				<p>
					The lyrics are taken from Local Storage -that's a database that is created by us- .

					<br><br>
					If the lyrics is not exist on the our database, <br>
					then it's taken either from  <a href="https://lyricstranslate.com/">lyricstranslate.com</a> or <a href="https://genius.com/">genius.com</a>.<br>
					Huge thanks to them.
				</p>
				<hr>
				<p>
					All lyrics are belongs to the song's creater. <br>
					It is not a site that makes money. <br>
					This site is not taken any ads, never. <br>
					<br>
					If you need to contact me for a reason like license problems, click <a href="https://boratanrikulu.dev/contact">here</a>.
				</p>
			</div>
		</footer>
	</div> <!-- container end -->
</div>
</body>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-163413234-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-163413234-1');
</script>

{{ end }}