{{ define "head" }}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:title" content="S-Lyrics">
		<meta property="og:description" content="shows lyrics for currently playing song in your Spotify account.">
		<meta property="og:url" content="https://s-lyrics.com">
		<link rel="stylesheet" href="/assets/stylesheet/main.css">
		<script type="text/javascript" src="https://unpkg.com/darkreader@4.9.26/darkreader.js"></script>
		<script type="text/javascript" src="/assets/javascript/main.js"></script>
		<title>S-Lyrics - shows lyrics for currently playing song in your Spotify account.</title>
	</head>

{{ end }}