{{ define "head" }}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="shows lyrics for currently playing song in your Spotify account.">
		<meta itemprop="name" content="Lirik.app">
		<meta itemprop="description" content="shows lyrics for currently playing song in your Spotify account.">
		<meta itemprop="image" content="https://lirik.app/logo.svg">
		<meta property="og:url" content="https://lirik.app">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Lirik.app">
		<meta property="og:description" content="shows lyrics for currently playing song in your Spotify account.">
		<meta property="og:image" content="https://lirik.app/logo.svg">
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Lirik.app">
		<meta name="twitter:description" content="shows lyrics for currently playing song in your Spotify account.">
		<meta name="twitter:image" content="https://lirik.app/logo.svg">
		<link itemprop="image" href="/logo.svg"/>
		<link rel="stylesheet" href="/stylesheet/main.css">
		<link rel="icon" href="/favicon.ico">
		<script type="text/javascript" src="/javascript/main.js"></script>
		<title>Lirik.app - shows lyrics for currently playing song in your Spotify account.</title>
	</head>

{{ end }}