{{ define "loading" }}

<div class="lirik-loading">
  <div class="lirik-loading-bar bar1"></div>
  <div class="lirik-loading-bar bar2"></div>
  <div class="lirik-loading-bar bar3"></div>
  <div class="lirik-loading-bar bar4"></div>
  <div class="lirik-loading-bar bar5"></div>
  <div class="lirik-loading-bar bar6"></div>
  <div class="lirik-loading-bar bar7"></div>
  <div class="lirik-loading-bar bar8"></div>
  <div class="lirik-loading-bar bar9"></div>
  <div class="lirik-loading-bar bar10"></div>
  <div class="lirik-loading-bar bar11"></div>
  <div class="lirik-loading-bar bar12"></div>
</div>

{{ end }}
