{{ define "content" }}

<div class="song">
	<section class="hero is-primary">
		<div class="hero-body">
			<h1 class="title">
				{{.Song.Name}}
			</h1>
			<p class="subtitle">
				by {{.Artist.Name}}
			</p>
		</div>
	</section>
	<div class="card">
		<div class="card-content">
			<div class="is-large">
				<p>
					{{ if .Song.Lyric.IsAvaible }}
						{{ range .Song.Lyric.Lines }}
							<p>{{ . }}</p>
						{{ end }}
						{{ range .Song.Lyric.Translates }}
							<hr>
							<p>{{ .Language }} - {{ .Title }}</p>
							{{ range .Lines }}
								<p>{{ . }}</p>
							{{ end }}
						{{ end }}
					{{ else }}
						<p>There is no lyric option to show.</p>
					{{ end }}
				</p>
			</div>
		</div>
	</div>
</div>

{{ end }}
{{ template "user" . }}
			